.slider {
	width: inherit;
	height: 300px;
	overflow: scroll;
}

.slider ul {
	position:relative;
	clear:both;
	list-style: none;
	padding:0;
	margin:0;
}

.slider li {
	float: left;
	height:300px;
}

.grid{
	
}

.grid-nav{
	width:45%;
	margin:0 auto;
}

.grid-nav-layer li{
	display:inline;
	padding:1px;
}

.grid-nav-icon{
	cursor: pointer;
}

.grid-active{
	color:red;
}